extends layout

block content
  h3.my-3 感想の編集
  form(method="post", action=`/movies/${movie.movieId}?edit=1`)
    div.form-group
      label(for="movieTitle") 映画のタイトル(255文字まで)
      input(type="text" name="movieTitle" value=movie.movieTitle maxlength="255")#movieTitle.form-control
    div.form-group
      label(for="movieDetails") 映画の関連情報
      textarea(name="movieDetails" maxlength="255")#movieDetails.form-control #{movie.movieDetails}
    div.form-group
      label(for="movieReview") ネタバレなし感想 (ネタバレ禁止です)
      textarea(name="movieReview" maxlength="1000")#movieReview.form-control #{movie.movieReview}
    div.form-group
      label(for="movieReviewAll") ネタバレあり感想 (ネタバレありです)
      textarea(name="movieReviewAll" maxlength="1000")#movieReviewAll.form-control #{movie.movieReviewAll}
    div
      button(type="submit").btn.btn-info 以上の内容で感想を編集する
  h3.my-3 危険な変更
    button(type="submit").btn.btn-danger この感想を削除する