extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    if user
      div
        a(href="/logout") #{user.username} をログアウト
      div
        a(href="/movies/new") おすすめの映画を作る
      - var hasMovie = movies.length > 0
      if hasMovie
        h3 あなたの作った映画の一覧
        table.table
          tr
            th 映画のタイトル
            th 更新日時
          each movie in movies
            tr
              td
                a(href=`/movies/${movie.movieId}`) #{movie.movieTitle}
              td #{movie.updatedAt}
    else
      div
        a(href="/login") ログイン
