extends layout

block content
  div.card.my-3
    div.card-header
      h4 #{movie.movieTitle}
    div.card-body(style="width: 33rem;")
      ul.list-group.list-group-flush.font-weight-bold
        li.list-group-item 映画の関連情報
         p.font-weight-normal #{movie.movieDetails}
        li.list-group-item ネタバレなし感想 (ネタバレ禁止です)
         p.font-weight-normal #{movie.movieReview}
        li.list-group-item#movieReviewAll ネタバレあり感想 (ネタバレありです)
         p.font-weight-normal #{movie.movieReviewAll}
    div.card-footer
      p 作成者: #{movie.user.username}
    - var isMine = parseInt(user.id) === movie.user.userId
    if isMine
      div
        a(href=`/movies/${movie.movieId}/edit`).btn.btn-info この映画の感想を編集する
    h3.my-3 
    table.table.table-bordered
    tr
      th 映画視聴経験
      each user in users
        th #{user.username}
    tr
      each user in users
        - var movieviewingexperience = movieviewingexperienceMapMap.get(user.userId);
        - var movieviewingexperienceLabels = ['観てない', '興味がある', '観た'];
        - var buttonStyles = ['btn-dander', 'btn-secondary', 'btn-success'];
        td
          if user.isSelf
            button(class=`movieviewingexperiences-toggle-button btn-lg ${buttonStyles[movieviewingexperience]}`
              data-movie-id=movie.movieId
              data-user-id=user.userId
              data-movieReviewAll=movie.movieReviewAll
              data-movieviewingexperience=movieviewingexperience) #{movieviewingexperienceLabels[movieviewingexperience]}
          else
            h3 #{movieviewingexperienceLabels[movieviewingexperience]}