extends layout

block content
    div 映画のタイトル
      h4 #{movie.movieTitle}
    div 映画の関連情報（監督、出演者）
      p(style="white-space:pre;") #{movie.movieDetails}
    div 映画の感想（ネタバレ禁止）
      p(style="white-space:pre;") #{movie.movieReview}
    div 映画の感想（ネタバレあり）
      p(style="white-space:pre;") #{movie.movieReviewAll}
    p 作成者: #{user.username}
        p 映画の視聴経験
        each user in users
            button 観てない